#show-to-do {
  display: none;
}

.button-remove, .button-edit {
  margin-left: 2em;
  border: none;
  padding: 0;
  background: none;

}

img {
  max-width: 20px;
  max-height: 20px;
}

.edit {
  display: none;
}
